name: "publish"

on:
  push:
    branches:
      - release
  workflow_dispatch:

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos-latest" # for Arm based macs (M1 and above).
            args: "--target aarch64-apple-darwin"
          - platform: "macos-latest" # for Intel based macs.
            args: "--target x86_64-apple-darwin"
          - platform: "ubuntu-22.04" # for Tauri v1 you could replace this with ubuntu-20.04.
            args: ""
          - platform: "windows-latest"
            args: ""

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"

      - name: install frontend dependencies
        run: npm install

      - name: Build Tauri app
        run: npm run tauri build -- ${{ matrix.args }}

      - name: Get list of build artifacts
        id: list-artifacts
        run: |
          artifacts=$(ls src-tauri/target/release/bundle/*/*)
          echo "artifacts=$artifacts" >> $GITHUB_ENV

      - name: Create Release Body
        id: create-release-body
        run: |
          body="## Download Links\n\n"
          for artifact in ${{ env.artifacts }}; do
            filename=$(basename $artifact)
            case $filename in
              *aarch64.dmg)
                body="$body### macOS (Apple Silicon, M1 and above)\n- [$filename](./$filename)\n\n"
                ;;
              *x64.dmg)
                body="$body### macOS (Intel-based)\n- [$filename](./$filename)\n\n"
                ;;
              *amd64.deb)
                body="$body### Ubuntu/Debian-based distributions\n- [$filename](./$filename)\n\n"
                ;;
              *.rpm)
                body="$body### RPM-based distributions (Fedora, CentOS, RHEL)\n- [$filename](./$filename)\n\n"
                ;;
              *.AppImage)
                body="$body### AppImage (Universal Linux)\n- [$filename](./$filename)\n\n"
                ;;
              *setup.exe)
                body="$body### Windows Installer\n- [$filename](./$filename)\n\n"
                ;;
              *.msi)
                body="$body### Windows Installer (MSI)\n- [$filename](./$filename)\n\n"
                ;;
              *.tar.gz)
                if [[ $filename == *aarch64* ]]; then
                  body="$body### macOS (Apple Silicon, M1 and above)\n- [$filename](./$filename)\n\n"
                else
                  body="$body### macOS (Intel-based)\n- [$filename](./$filename)\n\n"
                fi
                ;;
              *)
                body="$body### Other\n- [$filename](./$filename)\n\n"
                ;;
            esac
          done
          echo "release_body=$body" >> $GITHUB_ENV

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: app-v__VERSION__
          releaseName: "PokeDex v__VERSION__"
          releaseBody: ${{ env.release_body }}
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}
