name: "publish"

on:
  push:
    branches:
      - release
  workflow_dispatch:

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos-latest" # for Arm based macs (M1 and above).
            args: "--target aarch64-apple-darwin"
          - platform: "macos-latest" # for Intel based macs.
            args: "--target x86_64-apple-darwin"
          - platform: "macos-latest" # for Universal binaries.
            args: "--target universal-apple-darwin"
          - platform: "ubuntu-22.04" # for Tauri v1 you could replace this with ubuntu-20.04.
            args: ""
          - platform: "windows-latest"
            args: ""

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
        # webkitgtk 4.0 is for Tauri v1 - webkitgtk 4.1 is for Tauri v2.
        # You can remove the one that doesn't apply to your app to speed up the workflow a bit.

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm" # Set this to npm, yarn or pnpm.

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"

      - name: install frontend dependencies
        # If you don't have `beforeBuildCommand` configured you may want to build your frontend here too.
        run: npm install # change this to npm or pnpm depending on which one you use.

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: PokeDex-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version.
          releaseName: "PokeDex v__VERSION__"
          releaseBody: |
            ## macOS
            - **For Apple Silicon (M1 and above):**
              - PokeDex___VERSION___aarch64.dmg
              - PokeDex_aarch64.app.tar.gz

            - **For Intel-based Macs:**
              - PokeDex___VERSION___x64.dmg
              - PokeDex_x64.app.tar.gz

            - **Universal binaries:**
              - PokeDex___VERSION___universal.dmg
              - PokeDex_universal.app.tar.gz

            ## Ubuntu / Linux
            - **For Ubuntu/Debian-based distributions:**
              - poke-dex___VERSION___amd64.deb

            - **For RPM-based distributions (Fedora, CentOS, RHEL):**
              - poke-dex-__VERSION__-1.x86_64.rpm

            - **AppImage (Universal Linux):**
              - poke-dex___VERSION___amd64.AppImage

            ## Windows
            - **Windows Installer:**
              - PokeDex___VERSION___x64-setup.exe
              - PokeDex___VERSION___x64_en-US.msi
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}
